<!DOCTYPE html>
<html>
<head>
    <title>AstraNotes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>AstraNotes</h1>
    <p>Simple secure note-taking app for CSEN 296B.</p>

    <h2>Create Note</h2>

    <form action="/add" method="POST">
        <input type="text" name="title" placeholder="Note title" required>
        <br><br>
        <textarea name="content" placeholder="Write your note here..." required></textarea>
        <br><br>
        <button type="submit">Save Note</button>
    </form>

    <h2>Saved Notes</h2>

    {% for note in notes %}
        <div class="note">
            <h3>{{ note["title"] }}</h3>
            <p>{{ note["content"] }}</p>
        </div>
    {% else %}
        <p>No notes yet.</p>
    {% endfor %}

</body>
</html>